<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://func-watchinfo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6e9c05ca-63d5-4637-b276-21208efd07e1/resourceGroups/learn-745d6cc6-3f09-4e09-af6a-7e2dfc5b1939/providers/Microsoft.Web/sites/func-watchinfo</ResourceId>
    <UserName>$func-watchinfo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://func-watchinfo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>